.path-roof {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}
.path-body {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
}

.path-grass {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
}

.path-fence {
  stroke-dasharray: 20;
  stroke-dashoffset: 500;
  -webkit-animation: dash 5s linear;
}

.path-door {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}

.path-chimney {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}

.path-clouds {
  stroke-dasharray: 5;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
}


@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
