
.path-roof {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}
.path-body {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
}

.path-grass {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
}

.path-fence {
  stroke-dasharray: 20;
  stroke-dashoffset: 500;
  -webkit-animation: dash 5s linear;
}

.path-door {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}

.path-chimney {
  stroke-dasharray: 20;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*
.path {
  stroke-dasharray: 0 1000;
  stroke-dashoffset: 1000; // NOT NEEDED 
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dasharray: 0 1000; //zero-length stroke, 
                                 // 1000-length gap 
  }
  to {
    stroke-dasharray: 1000 0; // 1000-length stroke, 
                                // zero-length gap 
  }
}
*/
