
body {
  margin-left: 1.0in;
  margin-right: 1.0in;
  background-image:url('wooden.jpg');
  position: relative;
  background-position: center center;
  background-color: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;

  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

div.wrapper {
    width: 100%;
    min-height: 100%
}

h1 {
  color: black;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  padding-top: 1.5em;
  font-family: "Lucida Console", Monaco, monospace;
  vertical-align:text-top;
  font-size: 25px;
  color: black;
}

div.navbar {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.3em;
  color: rgb(2,2,2);

}

div.container{
margin: auto;
text-align: center;
padding: 0;
}



div.name {
  padding-top: 100px;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  vertical-align:text-top;
  font-size: 2em;
  color: white;
} 

.icons {
  width:320px;
  margin: auto;
}


.twitter{
opacity: 0.6;
display: inline-block;
}

.twitter:hover{
opacity: 1;
}

.linkedin{
opacity: 0.6;
display: inline-block;
}

.linkedin:hover{
opacity: 1;
}

.git{
opacity: 0.6;
}

.git:hover{
opacity: 1;
}

.email{
opacity: 0.6;
display: inline-block;
}
.email:hover{
opacity: 1;
}

div.navbar a {
  text-decoration:none;
  color:#fff;
}

div.navbar a:hover {
  color:#3c3c3c; 
}