  body,	html {
		margin:0;
		padding:0;
		color:#000;
		background:#000070;
	}
	#content {
		width:75%;
		margin:0 auto;
		background:#6495ed;
	}
	#header {
    		padding:5px 10px;
		background:#cccccc;
	}
	h1 {
	    margin:0;
	    text-shadow:1.5px 1.5px #808080;
	    font-family:Calibri;
	    color:royalBlue;
	    font-size:55px;
	    padding-left:1.5cm;
	    text-align:left
	 }
	 
	 h2 {
		margin:0 0 1em;
		font-family:Sans-Serif;
		font-size:20px;
		color: #25383C;
		padding-left:1.5cm;
		padding-right:.5cm
		}
	#nav {
		padding:5px 10px;
		background:#808080;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:right;
		width:70%;
		padding:10px;
		background:#9c9;
	}

	
	#sidebar {
		float:left;
		width:30%;
		padding:10px;
		background:#6495ed;
	}
  li {
    list-style-type: none;
  }
	#footer {
		clear:both;
		padding:5px 10px;
		background-color:#cccccc;
	}
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}
	
/*
h3 {
    font-family:Verdana;
    font-size:22px;
    margin 0.25cm;
}


   
#container {
	 margin:0px auto;
	 width:75;
}

#column2 {
     float:left; 
     margin:0;
     background-color:#6495ed;
        
}
*/

/*
#column3 {
    text-align:center; //COMMENT OUT
    margin:0;
    background-color:#EEEEEE;
    height:100%; //COMMENT OUT
    margin-left:24%
}
*/
li {
    list-style-type: none;
}

ul {
    color:white;
    font-family:Sans-Serif; 
    padding-left:.5cm;
}

a {
    text-decoration:none;
}
/* unvisited link */
a:link {
color: #000000;
}

/* visited link */
a:visited {
color: #000000;
}

/* mouse over link */
a:hover {
color: #0000FF;
}

/* selected link */
a:active {
color: #000000;
}

.hover-image {
    position: relative;
    width:100px;
    height:100px;
    display:inline-block;
}
        
span    {
    position: absolute;
    color: black;
    height: 150px;
    width:150px;
    display:block;
    top:0;
    center:0;
    text-align:left;
    padding-top:70px;
    padding-left:20px;
    opacity: 0;
    transition: opacity 1s;
}

span:hover {
    opacity:1;
    }
    
table, img {
	width:200px;
	height:200px;
}

