html,body{
	height: 100%;
	background-color: #8e9292;
}

.kitty{
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	height: 369px;
}

.welcome{
	padding-top: 50px;
	text-align: center;
	font-family: futura;
	color: #5c1f00;
}

.searchbox{
	padding-top: 20px;
}

.btn-danger{
	background-color: #995c00 !important;
  	background-image: none !important;
}

.btn-danger:hover{
	background-color: #995c00 !important;
  	background-image: none !important;
}

.songtable{
	padding-top: 20px;
}

tbody{
	background-color: white;
}

th{
	font-family: futura;
	color: #5c1f00;
	font-size: 20px;
}

.trackcol{
	width: 500px;
}

.albumcol{
	width: 400px;
}

iframe {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
}
