h1 {
  color:#0f0;
}

div {
  height:200px;
  width:200px;
}

#container {
  display: table;
}

#topRow  {
  display: table-row;
  }

.d1 .d2 .d3 {
    display: table-cell;
    }
    
    

#one {
  border-right:2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #f00;
}

#two {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #0f0;
}

#three {
  border-bottom: 2px solid #000;
  background-color: #00f;
}

#four {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #ff0;
}

#five {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #0ff;
}

#six {
  border-bottom: 2px solid #000;
  background-color: #f0f;
}

#seven {
border-right:2px solid #000;  
background-color: #808080;
}

#eight {
  border-right: 2px solid #000;
  background-color: #3FBFFF;
}

#nine {
  background-color: #FF7F3F;
}
